// @import '../../node_modules/grommet/scss/vanilla/index';

/////////////
// Animal Labs Colors
/////////////

$AL-yellow: #ffe52d;
$AL-ltblue: #27ffdb;
$AL-blue: #6281ff;
$AL-ltpurple: #e27aff;
$AL-purple: #9f62ff;
$AL-bg: #fbfaff;
$AL-cardbg: #ececec;

/////////////
// Global css
/////////////

@import url('https://rsms.me/inter/inter-ui.css');

body, html {
  font-size: 19px;
  font-family: 'Inter UI', sans-serif;
  background-color: $AL-bg;
  margin: 0;
  padding: 0;
}

//// Utilities
@import '../../node_modules/include-media/dist/_include-media';

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
) !default;

//// Google fonts

a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    &:visited {
        color: black;
    }
    &:hover {
        color: red;
    }
    &:active {
        color: green;
    }
}

.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-flow: column;
}

/////////////////////
// Components

@import '../containers/locationPanel/locationInventory';
@import '../containers/locationPanel/locationPanel';
@import '../containers/playerInfo/playerInventory';
@import '../containers/timeView/timeView';
@import '../containers/actionPanel/actionPanel';
@import '../containers/game/game';
@import '../containers/navigatorPanel/navigatorPanel';
@import '../containers/playerInfo/playerInfo';
@import '../containers/log/log';
@import '../containers/deathNotice/deathNotice';
