.log-container {
  max-height: 400px;
  min-width: 30%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 1rem;
  pointer-events: none;
  background: rgba(200, 200, 200, 0.5);
  box-shadow: 30px 30px 40px 40px rgba(200, 200, 200, 0.5);
  p {
    background: transparent;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    color: black;
  }
}
