.explorepage-container {
  position: relative;
  z-index: 0;
}

.explorepage-map-container {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
  }
}

.explorepage-map-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // border-radius: 50%;
  border: 10px solid grey;
  overflow: scroll;
}

.explorepage-map {
  background-color: #C9AD99;
  position: absolute;
  top: 0;
  z-index: 0;
}

.explorepage-map-svg-container {
  position: absolute;
  z-index: 1;
}
