.explorepage-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow: scroll;
}

.explorepage-map {
  background-color: #C9AD99;
  position: absolute;
  top: 0;
  z-index: 0;
}

.explorepage-map-svg-container {
  position: absolute;
  z-index: 1;
}
