.homepage-container {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background: transparent;
  flex: 1 1 auto;
}

.map-wrapper {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.sidePanel-wrapper {
  display: flex;
  flex: 0;
  flex-flow: column;
  align-items: stretch;
}


